.returninfo{
	position:absolute;
	width:750px;
	margin-top:100px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:300px;
	color: rgba(10, 3, 0, 0.78);
}

.title{
	margin-left: 180px;
	font-size:28px;
	font-family:STSong;
	color: rgba(10, 3, 0, 0.78);
}

.infotitle{
	font-family:"宋体";
	font-size:20px;
}

button{
	width:60px;
	font-size: 13px;
}

.button{
	margin-left:195px;
	margin-top:50px;
}

input{
	width:360px;
	margin: 0;
	background-color: rgba(238, 239, 240, 0.5);
}

.error{
	color:red;
}